.logo {
  position: relative;
  margin-top: 15px;
  margin-left: 35px;
  grid-row: 1;
  grid-column: 1;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 400px 230px;
  grid-template-columns: 1fr 1fr;
}

ul {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
}

li {
  justify-content: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

li:hover {
  color: #574d68;
}

a {
  text-decoration: none;
  color: black;
}
